.App 
{
    text-align: center;
}

.App .body
{
    background: #000;
    color: #FFF;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(5.5px + 2vmin);
}

#weathericon 
{
    height: 50vh;
    font-size: 40vh;
}

#weatherdesc 
{
    width: 50%;
    padding: 5px;
    background: #151515;
    border: 2px solid #111;
    border-radius: 5px;
}

.settingbutton
{
    color: #FFF;
    background: #151515;
    border: 2px solid #FFF;
    border-radius: 5px;
}

.settingbutton:hover
{
    background: #333333;
}

.linkspan 
{
    background: #000;
    color: #FFF;
    min-height: 5vh;
    text-align: center;
}

.linkspan a 
{
    text-decoration: none;
    color: #CCC;
}

.linkspan a:hover 
{
    text-decoration: none;
    color: #FFF;
}

span 
{
    min-height: 5vh;
}
body 
{
    background: #000;
    color: #FFF;
}

#weatherforecast 
{
    table-layout: fixed;
    min-width: 100vw;
    word-wrap: break-word;
}

td
{
    max-width: 20%;
    min-width: 20%;
}

#weatherforecast #weathericon 
{
    height: 12.5vmin;
    font-size: 7.5vmin;
}

#weatherforecast h1 
{
    font-size: 3vmin;
}

#weatherforecast 
{
    font-size: 3vmin;
}

@keyframes spin
{
    from 
    {
        transform: rotate(0deg);
    }

    to 
    {
        transform: rotate(360deg);
    }
}

body 
{
    overflow: hidden
}

dialog 
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.links
{
    color: #FFF;
    background: #151515;
    border: 3px solid #FFF;
    border-radius: 8px;
    font-size: 16px;
    /*transition: all 0.2s ease-out;*/
}

.links:hover
{
    background: #333333;
    /*font-size: 1.15vw;*/
}

#webpack-dev-server-client-overlay /* This disables the error overlay, should leave it enabled in dev. */
{
    display: none;
}

#weatherd 
{
    vertical-align: top;
}