.App 
{
  text-align: center;
}

.App-logo 
{
  height: 40vmin;
  pointer-events: none;
}

.App-header
{
  background-color: #282c34;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5.5px + 2vmin);
  color: white;
}

.App-link 
{
  color: #61dafb;
}


.body
{
    background: #000;
    color: #FFF;
}

.severe
{
}

.warning
{
}

.tstorm 
{
}

.rain 
{
}

.snow
{
}

.sunny 
{
}

.cloudy 
{
}

.fog
{
}

#weathericon 
{
    height: 50vmin;
    font-size: 40vmin;
}

#weatherdesc 
{
    width: 50%;
    padding: 5px;
    background: #151515;
    border: 2px solid #111;
    border-radius: 5px;
}

#refreshweather 
{
    color: #FFF;
    background: #151515;
    border: 2px solid #FFF;
    border-radius: 5px;
}

#refreshweather:hover
{
    color: #FFF;
    background: #333333;
    border: 2px solid #FFF;
    border-radius: 5px;
}

.linkspan {
    background: #000;
    color: #FFF;
    min-height: 5vh;
    text-align: center;
}

.linkspan a 
{
    text-decoration: none;
    color: #CCC;
}

.linkspan a:hover 
{
    text-decoration: none;
    color: #FFF;
}

span 
{
    min-height: 5vh;
}
body 
{
    background: #000;
    color: #FFF;
}

#weatherforecast 
{
    table-layout: fixed;
    min-width: 100vw;
    word-wrap: break-word;
}

td
{
    max-width: 20%;
    min-width: 20%;
}

#weatherforecast #weathericon 
{
    height: 12.5vmin;
    font-size: 7.5vmin;
}

#weatherforecast h1 
{
    font-size: 3vmin;
}

#weatherforecast 
{
    font-size: 3vmin;
}

@keyframes spin
{
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

body 
{
    overflow: hidden
}